n8n/flows/anomaly_correlator.json
{
  "name": "Anomaly Correlator",
  "nodes": [
    {
      "parameters": {
        "path": "anomaly-correlator",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "Webhook",
      "name": "Anomaly Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend-api:8000/copilot/ask",
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={\"workspace_id\": $json.workspace_id || \"demo-workspace\", \"question\": \"Rank likely causes for anomaly with citations from deploy logs, campaign calendar, and incident notes.\", \"context\": {\"metric\": $json.metric_name, \"anomaly_id\": $json.anomaly_id}, \"user_id\": \"n8n-anomaly-correlator\"}"
      },
      "id": "HTTP_Copilot",
      "name": "Generate Correlations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{\"http://backend-api:8000/anomalies/\" + $json.context.anomaly_id + \"/correlations\"}}",
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={\"workspace_id\":\"demo-workspace\",\"correlations\":[{\"summary\":$json.answer,\"sources\":$json.top_sources}]}"
      },
      "id": "HTTP_Save",
      "name": "Persist Correlations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\",\"message\":\"correlations written\"}"
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [940, 240]
    }
  ],
  "connections": {
    "Anomaly Trigger": {
      "main": [[{ "node": "Generate Correlations", "type": "main", "index": 0 }]]
    },
    "Generate Correlations": {
      "main": [[{ "node": "Persist Correlations", "type": "main", "index": 0 }]]
    },
    "Persist Correlations": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "anomaly-correlator-v1"
}
